/* HEADER */
.header {
  width: 1440px;
  height: 97px;
  background-color: #fff;
}


.nav-logo {
  width: 227;
  height: 60px;
}

.nav-menu {
  width: 610px;
  height: 39px;
  background-color: #fff;
}

.nav-link {
  color: #ff7500;
}

a {
  text-decoration: none;
}

/* MAIN-HERO */
.main-hero {
  width: 1440px;
  height: 548px;
  background-color: #252420;


}

hr {
  color: #ff7500;
  width: 80px;
  height: 3px;
}

.main-hero-text {
  width: 387px;
  height: 328px;
  color: #fff;
}

.main-python-text{
  width: 339px;
  height: 96px;
  color: #fff;
}

.main-information {
  width: 387px;
  height: 96px;
}

.main-link {
  background-color: #ff7500;
  color: #fff;
}

.main-img {
  width: 550px;
  height: 550px;
}

/* MAIN-FEATURES */
.main-features {
  width: 1440px;
  height: 936px;
  background-color: #fff;
}

.main-features-text {
  width: 435px;
  height: 172px;
  color: #000;
}

.main-features-information {
  width: 1100px;
  height: 245px;
}

.main-features-about {
  width: 340px;
  height: 245px;
}

.main-icon {
  width: 100px;
  height: 100px;
  background-color: #eed1b8;
  color: #ff7500
}

.features-booking {
  width: 214px;
  height: 29px;
  color: #000;
}

.features-about-text {
  width: 314px;
  height: 72px;
  color: #000;
}

.features-books {
  width: 170px;
  height: 29px;

}

.features-delivery {
  width: 196px;
  height: 29px;
}