/* HEADER */
.header {
  width: 1440px;
  height: 92px;
  background-color: #fff;
}

.nav-menu {
  width: 1100px;
  height: 60px;
}

.nav-logo {
  width: 227;
  height: 60px;
}

.nav-menu-links {
  width: 610px;
  height: 39px;
  background-color: #fff;
}

.nav-link-sign-up {
  color: #ff7500;
}

.nav-hr {
  width: 92px;
  height: 3px;
  color: #ff7500;
}

.nav-link {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* MAIN-HERO */
.main-hero {
  width: 1440px;
  height: 548px;
  background-color: #252420;


}

hr {
  color: #ff7500;
  width: 80px;
  height: 3px;
}

.main-hero-text {
  width: 387px;
  height: 328px;
  color: #fff;
}

.main-python-text{
  width: 339px;
  height: 96px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.main-information {
  width: 387px;
  height: 96px;
  font-weight: normal;
  font-size: 16;
}

.main-link {
  background-color: #ff7500;
  color: #fff;
}

.main-img {
  width: 550px;
  height: 550px;
}

/* MAIN-FEATURES */
.main-features {
  width: 1440px;
  height: 936px;
  background-color: #fff;
}

.main-features-text {
  width: 435px;
  height: 172px;
  color: #000;
}

.main-features-information {
  width: 1100px;
  height: 245px;
}

.main-features-about {
  width: 340px;
  height: 245px;
}

.main-icon {
  width: 100px;
  height: 100px;
  background-color: #eed1b8;
  color: #ff7500
}

.features-booking {
  width: 214px;
  height: 29px;
  color: #000;
}

.features-about-text {
  width: 314px;
  height: 72px;
  color: #000;
}

.features-books {
  width: 170px;
  height: 29px;

}

.features-delivery {
  width: 196px;
  height: 29px;
}
.children-books {
  width: 1100px;
  height: 419px;
  background-color: #252420;
}

.children-information {
  width: 440px;
  height: 291px;
}

.children-books-about {
  width: 373px;
  height: 96px;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.history-book {
  width: 440px;
  height: 48px;
  font-size: 16px;
  color: #fff;
}
.book-cheap {
  width: 440px;
  height: 48px;
  font-size: 16px;
  color: #fff;
}

.books-color {
  color: #ff7500;
}

.book-buy {
  width: 152px;
  height: 39px;
  background-color: #ff7500;
  color: #fff;
}

.children-books-img {
  width: 440px;
  height: 440px;
}

.footer {
  width: 1440px;
  height: 507px;
  background-color: #F8F8F8;
}

.footer-menu {
  width: 1100px;
  height: 60px;
}

.footer-logo {
  width: 228px;
  height: 60px;
}

.footer-icons {
  width: 104px;
  height: 24px;
}

.footer-hr {
  width: 1100px;
  height: 2px;
}

.footer-links {
  width: 1100px;
  height: 229px;
}

.footer-link {
  width: 224px;
  height: 19px;
}

.footer-link-text {
  color: #252420;
  font-size: 16px;
}